body {
  font-family: vazir;
  background: #ffec8b;
  margin: 0;
  padding: 0;
}
.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e8e8e8;
  border-radius: 10px;
  padding: 20px;
}
.box a {
  border-style: solid;
  background: none;
  border-color: #2e3131;
  border-radius: 20px;
  text-decoration: none;
  color: #6c7a89;
  padding: 10px 50px 10px 50px;
  text-align: center;
  display: block;
  margin: 15px;

}
.box a:hover {
  background-color: #2e3131;
  color: white;
}
p {
  background: #c8f7c5;
  font-size: 20px;
  margin-top: 0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
